<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        #content{
            width: 100%;
            height: calc( 100vh - 115px );
           background-position: center;
           background-size: cover;
           background-repeat: no-repeat;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYI6b9FLFXhmSzrEaNDRhEUAEP7Z_YptGyyQ&usqp=CAU);
        }
    </style>
   <div id="content"></div>


</body>
</html>