<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
         * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Raleway', sans-serif;
font-family: 'Sawarabi Gothic', sans-serif;
font-family: 'Ubuntu', sans-serif;
        }

        #main {
            width: 100%;
        }

        #home {
            width: 100%;

            border: 1px solid red;
            
        }
    </style>
    <div class="main">
        <div class="home">
            
        </div>
    </div>
</body>
</html>