<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .gogle{
        margin: 10px 10px;
        background-color: white;
        color: black;
        padding: 10px 20px;
        
        border-radius: 5px;
        transition: all 0.3s;
       }
       .gogle:hover{
        color: white;
        background-color: black;
        
        }
       
       .gogle span{
        font-size: 2vmax;
       }
        .ri-google-fill{
            font-size: 2vmax;
            position: absolute;
            left: 500px;
        }
    </style>
    <div id="icon">
        <button class="gogle"> <i class="ri-google-fill"></i>
            <span>Continue With Google</span></button>
    </div>
</body>
</html>