<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video   width="500px" height="700px"autoplay playinline   loop  muted>
        <source src="https://cdn.pixabay.com/vimeo/218679656/energy-9299.mp4?width=1280&hash=9eeda723b30fad0b46aadcd931b2c648f3824733">
    </video>
</html>