<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOl9NuX_lrVJR6Fe72uIuxahxvHFxcDkD-9A&usqp=CAU" />
    <title>Document</title>
  </head>

  <body>
    <div id="main">
      <%- include('partials/nav')  %>
      <div id="home">
       
    <div id="about">
      <div class="head">
        <div class="content">
          <h1>About the MINISTRY</h1>
          <hr />
          <p class="abt">
            Ministry of Law and Justice is the oldest limb of the Government of India dating back to 1833 when the Charter Act 1833 enacted by the
            British Parliament. The said Act vested for the first time legislative power in a single authority, namely the Governor General in
            Council. By virtue of this authority and the authority vested under him under section 22 of the Indian Councils Act 1861 the Governor
            General in Council enacted laws for the country from 1834 to 1920. After the commencement of the Government of India Act 1919 the
            legislative power was exercised by the Indian Legislature constituted thereunder. The Government of India Act 1919 was followed by the
            Government of India Act 1935. With the passing of the Indian Independence Act 1947 India became a Dominion and the Dominion Legislature
            made laws from 1947 to 1949 under the provisions of section 100 of the Government of India Act 1935 as adapted by the India (Provisional
            Constitution) Order 1947. Under the Constitution of India which came into force on the 26th January 1950 the legislative power is vested
            in Parliament.
          </p>
          <h2>Composition of the ministry</h2>
          <p class="comp">
            The Ministry of Law and Justice consists of three Departments, namely, the Legislative Department, the Department of Legal Affairs and the
            Department of Justice. The Department of Legal Affairs is concerned with advising the various Ministries of the Central Government while
            the Legislative Department is concerned with drafting of principal legislation for the Central Government. India Code which consists of
            laws enacted from the previous century and which are in force in the territory of India are available on the net
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </body>
</html>
